{% extends "base.html" %}


{% block content %}

<div class="container-main">

    <h1 class="title">Your's expenses</h1>

    <form action="{{ url_for('expenses.expenses', user_id=current_user.id) }}" class="date-form" method="post">
        {{ form_date.csrf_token }}

        <div class="form-group">>
            {{ form_date.date_start.label }}
            {{ form_date.date_start }}
        </div>

        <div class="form-group">
            {{ form_date.date_end.label }}
            {{ form_date.date_end }}
        </div>

        {{ form_date.submit(class_="form-btn") }}
    </form>

    <a href="{{ url_for('expense.expenses', user_id=current_user.id) }}" class="btn-reset">Reset to Default</a>

    <table class="expense-table">
        <thead>
            <th scope="col">id</th>
            <th>Name</th>
            <th>Value</th>
            <th>Date</th>
        </thead>

        <tbody>
            {% for expense in user_expenses %}
                <tr>
                    <td>{{ expense.id }}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.value }}</td>
                    <td>{{ expense.date_posted }}</td>
                    <td>
                        <a href="#" class="edit-btn">Edit</a>
                        <a href="" class="delete-btn">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- DISPLAY EXPENSE DIAGRAM HERE WITH POSIBILITY FOR CHANGING TIME SCOPE -->
     {{ if plot_filenam }}
        <img src="{{ url_for('static', filename=plot_filename) }}" alt="Expense Plot" class="expense-chart">
    {{ else }}
        <div class="nodata">
            <p>No data avaible</p>
        </div>
    {{ endif }}

    <div class="add-expense">

        <form action="{{ url_for('expenses.add_expense') }}" class="expense-form" method="POST">
            {{ form.csrf_token }}

            <div class="exp-name">
                {{ form.name.label }}
                {{ form.name }}
            </div>

            <div class="exp-value">
                {{ form.value.label }}
                {{ form.value }}
            </div>

            <div class="exp-date">
                {{ form.date.label }}
                {{ form.date }}
            </div>

            {{ form.submit(class_="form-btn") }}

        </form>

    </div>

</div>

{% endblock %}